.gradle/
build/
out/

run/*
!run/universe/
run/universe/*
!run/universe/worlds/
run/universe/worlds/*
!run/universe/worlds/KweeForSpeed/

run/universe/worlds/KweeForSpeed/resources/Time.json
run/universe/worlds/KweeForSpeed/resources/Time.json.bak

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/